#RSRrandomColorButton {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#RSRinput1,
#RSRinput2,
#RSRrezultatas {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #d9d2d2ff;
    margin-right: 10px;
}

#RSRrezultatas {
    display: inline-block;
}