.firstButtonX {
    padding: 14px 32px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.firstButtonX:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);

}

.firstButtonX:active {
    transform: translateY(0);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);

}

.secondButtonO {
    padding: 14px 32px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.secondButtonO:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);

}

.secondButtonO:active {
    transform: translateY(0);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);

}

.colorSection {
    margin: 20px;
    display: flex;

}

input[type=color] {
    width: 80px;
    height: 80px;
    border: 3px solid rgb(60, 49, 149);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 5px;
}


.colorTypeName {
    display: flex;
    margin: 20px 10px;
    border: 3px solid rgb(60, 49, 149);
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    align-items: center;
    justify-content: center;

}